<mat-card>
  <b><span>Manage Category</span></b>
  <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">Add Category</button>
</mat-card>

<hr>

<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card>

<hr>

<div class="responsive_table">
  <table>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let data of dataSource">
      <td>{{data.name}}</td>
      <td>
        <mat-icon>edit</mat-icon>
      </td>
    </tr>
  </table>
</div>

