<mat-nav-list>
  <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuItem()" routerLinkActive="selected" group="{{menuitem.state}}">
    <a appAccordionToggle routerLink="/cafe/{{menuitem.state}}" *ngIf="(menuitem.role === '' || menuitem.role === tokenPayload.role)">
      <!-- [routerLink]="['/cafe',menuitem.state]" -->
      <mat-icon>{{menuitem.icon}}</mat-icon>
      <span>{{menuitem.name}}</span>
      <!-- <span fxFlex></span> -->
    </a>
  </mat-list-item>
</mat-nav-list>
